<section id="edit-inn">
  <h2>Editar pousada</h2>

  <% if @inn.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @inn.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= render 'form' %>

</section>