<section class="index-reservations row">
  <h2>Reservas</h2>
  <hr>
  
  <% if @reservations.present? %>
      <% @reservations.each do |reservation| %>
        <div class="col-sm-6">
          <h4>Código da reserva: <%= link_to reservation.code, user_reservation_path(reservation) %></h4>
          <%= render "reservation", reservation: reservation %>
          <div>
            <% if reservation.pending? && reservation.checkin > 7.days.from_now %>
              <%= button_to "Cancelar", cancel_user_reservation_path(reservation), method: :post, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
  <% else %>
    <p>Você ainda não possui reservas</p>
  <% end %>
</section>