<section id="new-room">
  <h2>Cadastrar Quarto</h2>

  <% if @room.errors.any? %>
    <div class="alert alert-danger">
      <% @room.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= render 'form' %>
</section>
