<section id="room">
  <%= render 'room' , room: @room %>

  <% if current_owner == @room.inn.owner %>
    <%= link_to "Editar", edit_inn_room_path(@room.inn, @room) %>
    <%= link_to "Adicionar Preço Personalizado", new_inn_room_custom_price_path(@room.inn, @room) %>
  <% end %>
</section>